[buildout]
extends = buildout.cfg

package-extras = [develop, test]
package-min-coverage = 87
test-eggs = Pillow

parts +=
    createcoverage
    coverage-sh
    zopepy

[versions]
# use latest version of setuptools
setuptools =
pep8 = 1.5.7
zc.buildout = 2.2.1

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy
